/* --- Variables de couleurs --- */
:root {
    --primary: #D9C5B4;
    --secondary: #375F7C;
    --white: #ffffff;
    --dark: #384050;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Georgia', serif;
    background-color: var(--secondary);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* --- Navigation --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    padding: 1rem 5%;
    color: var(--primary);
}

.nav-links { display: flex; list-style: none; }
.nav-links li { position: relative; padding: 10px 20px; }
.nav-links a { color: var(--primary); text-decoration: none; transition: 0.3s; }


.logo {
    height: 80px;
    width: auto;
    border-radius: 48%;
}

/* --- Sous-menu Histoire --- */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--secondary);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    min-width: 180px;
    list-style: none;
}

.submenu li a { color: var(--primary); display: block; padding: 10px; }
.submenu li a:hover { background: var(--light); }

.dropdown:hover .submenu { display: block; }

/* ---------------- ACCEUIL -----------------*/

/* --- Hero section --- */
.hero {
    height: 600px;
    min-height: 40vh;
    background: url('../img/Présentation\ 2\ Photo\ ph\ jambert\ poster.jpg') center/cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30);
    width: 100%;
}

/* --- Bloc découvrir l'histoire --- */

.intro-box {
    background-color: var(--primary);
    width: 85%;
    max-width: 1200px;
    margin: -50px auto 40px;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30);
    color: var(--dark);
}

.intro-text {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.intro-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    gap: 40px;
}

.intro-image-placeholder {
    flex: 0 0 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 0 60px 0 60px;
    margin-left: 40px;
    padding: 0px;
    min-height: 250px;
    overflow: hidden;

}

.intro-image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.btn-decouvrir {
    background: linear-gradient(to right, #793723, #ffffff, #793723);
    border: 1px solid var(--dark);
    padding: 8px 98px;
    border-radius: 25px;
    color: var(--dark);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.btn-decouvrir:hover {
    transform: scale(1.05);
}

/* --- COMPTE À REBOURS --- */
.countdown-section {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    color: var(--primary);
    position: relative;
    padding-bottom: 100px;
}

.countdown-container {
    background-color: var(--secondary);
    padding: 20px 40px;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    box-shadow: 0 10px 30px var(--primary);
    border: 1px solid var(--dark);
    flex-shrink: 0;
}

.countdown-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: auto;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    min-width: 80px;
}

.countdown-item .number {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
}

.countdown-item .label {
    font-size: 0.9rem;
    margin-top: 5px;
    opacity: 0.9;
}

.countdown-numbers {
    flex: 1;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
    letter-spacing: 5px;
}

.countdown-text {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.6;
    padding-left: 50px;
    max-width: 400px;
}

.time-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    min-width: 100px;
}

.time-box strong { font-size: 2.5rem; display: block; }



/* --- events --- */

.events-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 80px 5%;
    background-color: var(--secondary);
    color: var(--primary);
}

.events-grid {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    flex-wrap: wrap;
}

.event-card {
    background-color: var(--primary);
    border: 1px solid var(--dark);
    border-radius: 20px;
    overflow: hidden;
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.event-card:hover {
    transform: translateY(-10px);
}

.event-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-text {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    font-size: 1rem;
    font-weight: bold;
}


.slider-section {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 50px;
    background-color: var(--primary);
    color: var(--dark);
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
}

.slider-wrapper {
    
    flex-grow: 1;
    max-width: 1200px;
    height: 550px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
    animation: fadeIn 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- LES FLÈCHES --- */

.prev-btn, .next-btn {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--dark);
    font-size: 1.8rem;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.prev-btn:hover, .next-btn:hover {
    background-color: var(--dark);
    color: var(--primary);
}

/* --- ESPACEMENT DU BOUTON --- */
.slider-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-top: 20px;
}

.slider-footer .btn-decouvrir {
    display: inline-block;
    padding: 4px 40px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* --- FOOTER --- */
footer {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 40px 5% 20px;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 300px;
}

/* --- Bloc de gauche (Mentions Légales) --- */
.footer-links-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

/* --- Bloc de droite (Plan du site) --- */
.footer-plan {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.footer-plan h4 {
    margin-bottom: 20px;
    text-decoration: underline;
    width: fit-content;
}

.plan-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 20px 100px;
}

footer a {
    color: var(--secondary-beige);
    text-decoration: none;
    font-size: 0.8rem;
}

hr {
    border: 0.2px solid var(--dark);
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
}



/* ------------------ CONTACT --------------------- */


/* Styles pour la page Contact */
.container {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('../img/mer.jpg') no-repeat center center fixed;
    background-size: cover;
    flex: 1;
    width: 100%;
    max-width: none;
    margin: 20px auto;
    padding: 80px 20px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-intro-box {
    background-color: var(--primary);
    border: 1px solid var(--dark);
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.contact-intro-box p {
    margin: 0;
    font-weight: bold;
    color: var(--dark);
}

.contact-section {
    width: 100%;
    max-width: 800px;
}

.contact-section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    background: var(--primary);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, 
.form-group select, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark);
    border-radius: 20px;
    font-size: 1rem;
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23384050' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 25px) center;
    background-size: 16px;
    padding-right: 45px;
    cursor: pointer;
}

.form-group textarea {
    resize: vertical;
    border-radius: 20px;
}

#formFeedback {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.contact-form .btn-decouvrir {
    display: block;
    margin: 30px auto 0;
    width: fit-content;
}


/* ---------------  Un Peu d'Histoire -------------- */

.history-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-sea {
    background: linear-gradient(rgba(217, 197, 180, 0.8), rgba(217, 197, 180, 0.8)),
                url('../img/Histoire/background1.jpg') no-repeat center center/cover;
    padding: 60px 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.history-header {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.main-page-title {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: bold;
 
    text-decoration: none; 
}

.title-separator {
    width: 350px;
    border: none;
    border-top: 2px solid var(--dark);
    margin: 10px auto;
}


.bubble-1 {
    align-self: center !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 100%;
}

.bubble-2 {
    position: relative;
    align-self: flex-end !important;
    margin-right: 5%;
    max-width: 500px;
    width: 100%;
}

.bubble-3 {
    align-self: flex-start !important;
    margin-left: 5%;
    max-width: 500px;
    width: 100%;
}

.arrow-decor {
    position: absolute;
    top: 50%;
    right: 27%;
    width: 170px;
    height: auto;
    z-index: 10;
    pointer-events: none;
    transform: rotate(-10deg); 
}

.section-boats-bg {
    background: linear-gradient(rgba(217, 197, 180, 0.8), rgba(217, 197, 180, 0.8)),
                url('../img/Histoire/background2.jpg') no-repeat center/cover;
    background-size: 330%;
    background-position: 80% center;
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Style de chaque ligne de bateau */
.boat-row {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 60px;
    width: 100%;
    margin-bottom: 10px;
}

.boat-row.row-right .boat-description-bubble {
    order: 1 !important;
}

.boat-row.row-right .boat-image-card {
    order: 2 !important;
}

.boat-row.row-left .boat-image-card {
    order: 1 !important;
}

.boat-row.row-left .boat-description-bubble {
    order: 2 !important;
}

.boat-row.row-center {
    flex-direction: column !important;
}

/* Cadre photo */
.boat-image-card {
    background-color: var(--primary);
    border: 1px solid var(--dark);
    border-radius: 40px;
    padding: 20px;
    width: 450px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.boat-image-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Bulle de texte  */
.boat-description-bubble {
    background-color: var(--primary);
    border: 1px solid var(--dark);
    border-radius: 30px;
    padding: 20px 30px;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
}

.boat-description-bubble.large-bubble {
    max-width: 900px;
    width: 90%;
    padding: 15px 50px; 
}

.info-card, .boat-frame, .boat-bubble {
    background-color: var(--primary);
    border: 1px solid var(--dark);
    border-radius: 40px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline-title {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: var(--dark);
    text-decoration: underline
}







/* --- A propos --- /*

/* Fond dégradé spécifique pour À Propos */
.apropos-body {
    background: linear-gradient(to bottom, #d2c1b0, #375F7C); /* Dégradé beige vers bleu */
    min-height: 100vh;
}

.apropos-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Style des sections */
.apropos-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px;
    border-radius: 40px;
}

/* Styles spécifiques aux blocs de ta maquette */
.profile-block .image-wrapper, .map-block .map-wrapper {
    flex: 0 0 400px;
}

.profile-block .text-wrapper, .map-block .text-wrapper, .partners-block .text-wrapper {
    flex: 2;
    text-align: center;
}

/* Bloc 2 (Où nous trouver) : fond beige arrondi comme sur l'image */
.map-block {
    background-color: var(--primary);
    border: 1px solid var(--dark);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Images arrondies */
.rounded-img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    border: 1px solid #333;
}

.rounded-map {
    border-radius: 30px; /* Même arrondi que tes autres blocs */
    border: 1px solid #333;
    width: 100%;
    height: 100px;
}

.map-wrapper {
    width: 100%;
    height: 350px;
    overflow: hidden; /* Empêche les coins de la carte de dépasser de l'arrondi */
    border: 1px solid #333;
    border-radius: 30px;
    line-height: 0;
    font-size: 0;
}

.map-wrapper iframe {
    width: 100% !important;
    height: 100% !important;
    display: block;   /* CHANGE TOUT : supprime l'espace "inline" en bas */
    border: none;
    margin: 0;
    padding: 0;
}

/* Bloc Partenaires */
.partners-block {
    align-items: flex-start;
}

.partners-logos {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.partners-logos img {
    width: 100%;
    max-width: 100px;
    object-fit: contain;
}

.apropos-section h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration: underline;
}